// R I G H T Y  I M A G E  G R I D *
//
// img-grid-count located in _vars.scss

ul[class*="img-grid-"] {
	@include clearfix();
	list-style-type: none;
	text-align: center;

	margin: $img-grid-gutter #{ -$img-grid-gutter };

	li {
		position: relative;
		display: inline-block;
		margin: 0;
		transition: all $trans-speed ease-in-out;
		text-align: center;
		border: $img-grid-gutter solid #fff;
		@media (min-width: $medium) {
			float: left;
		}
		@media (min-width: $medium) {
			display: block;
		}
		a {
			display: block;
		}
		h5 {
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: transparentize($accent, $trans);
			margin: 0;
			padding: 1em;
			color: $dark;
			font-weight: 600;
			text-align: left;
			transition: all $trans-speed ease-in-out;
		}
		img {
			margin: 0 auto;
			display: block;
		}
		&:hover,&:focus {
			h5 {
				background-color: $primary;
				color: #fff;
			}
			img {
				opacity: 1;
			}
		}
	}
	&.is-alt {
		h5 {
			top: 40%;
		  	left: 15%;
		  	bottom: auto;
		  	width:auto;
		  	min-width: 70%;
		  	text-align:center;
		  	background-color: transparentize($primary, $trans);
		  	color: #fff;
		  	// transform:translateY(-50%);
		  // -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		  // backface-visibility: hidden;
		}
		img {
			opacity: 1;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			transition: opacity 200ms ease-in-out;
		}
		li:hover, li:focus {
			background-color: $primary;
			img {
				opacity: 0.5;
			}
			h5 {
				background-color:transparent;
			}
		}
	}
}

@media (min-width: $medium) {
    @for $i from 2 through $img-grid-count {      
        .img-grid-#{$i} li {
            max-width: 50%;   
        }           
    }   
} //mq

@media (min-width: $large) {
    @for $i from 2 through $img-grid-count {      
        .img-grid-#{$i} li {
            max-width: 100% / $i;   
        }           
    }   
} //mq



// <ul class="img-grid-3">
//     <li>
//         <a href="#!">
//             <img src="img/grayscale-3.jpg">
//             <h5>This is title 1</h5>
//         </a>
//     </li>
//     <li>
//         <a href="#!">
//             <img src="img/grayscale.jpg">
//             <h5>This is title 2</h5>
//         </a>
//     </li>
//     <li>
//         <a href="#!">
//             <img src="img/grayscale-4.jpg">
//             <h5>This is title 3</h5>
//         </a>
//     </li>
// </ul>
