// * B U T T O N S *

.button, input[type="submit"] {
	display: inline-block;
	position: relative;
	clear: left;
	padding: $gutter $gutter*2;
	background-color: transparentize($primary, 0.15);
	font-size: 1rem;
	color:#fff;
	border:none;
	border-radius:1px;
	outline: none;
	margin: $gutter 0;
	box-shadow: none;
	cursor: pointer;
	transition: $anime;
	z-index: 100;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height:100%;
		width:100%;
		transition: all 100ms ease-in-out;
		background-color: transparent;
		   -moz-transform: scale(0);
		-webkit-transform: scale(0);
		     -o-transform: scale(0);
		    -ms-transform: scale(0);
		        transform: scale(0);
		z-index: -1;
	}
	&:hover, &:focus {
		box-shadow: -2px 3px 4px rgba(0,0,0,0.25);
		&:before {
			content: '';
			background-color: $primary;
		   -moz-transform: scale(1);
		-webkit-transform: scale(1);
		     -o-transform: scale(1);
		    -ms-transform: scale(1);
		        transform: scale(1);
		}
	}
	&.is-light {
		background-color: transparentize($accent, 0.2);
		color: $dark;
		&:hover, &:focus {
			&:before {
				background-color: $accent;
			}
		}
	}
	&.is-dark {
		background-color: transparentize($dark,0.1);
		// color: $light;
		&:hover, &:focus {
			&:before {
				background-color: $dark;
			}
		}
	}
}

input[type="submit"].button {

	&:hover, &:focus {
		background-color: darken($primary, 10%);
	}
	&.is-light {
		&:hover, &:focus {
			background-color: $accent;
		}
	}
	&.is-dark {
		&:hover, &:focus {
			background-color: $dark;
		}
	}
}