// * B A S E   G R I D  *
//
//inspired from http://webdesign.tutsplus.com/tutorials/a-simple-responsive-grid-made-even-better-with-sass--cms-21540

.row {
    margin: 0 auto;
    width: 100%;
    max-width: $container-width;
    @extend %clearfix;
    &.wide {
        max-width: $container-width * 1.25; // change to suit
    }
    &.narrow {
        max-width: $container-width * .75; // change to suit
    }
    .row {
        @media (min-width: $medium) {
            [class*='col-']:first-child {
                margin-left: -$gutter;
            }
        }
    }
}

[class*='col-'] {
    // float: left; // add float back to mobile-first col if experiencing collapsing issues. But, man... it feels nice to just add 'float:left' when it's necessary
    width: 100%;
    min-height: $one;
    padding: $gutter;
    .switch & {
        float: right;
    }
}

@media (min-width: $medium) {
    @for $i from 1 through $grid-columns {      
        .col-#{$i}, { 
            float: left;        
            width: 100% / $grid-columns * $i;   
        }           
    }   
} // * mq


[class*='large-'] { // modifier for col-x
    //width: 100%;
}

@media (min-width: $large) {
    @for $i from 1 through $grid-columns {      
        .large-#{$i}, {       
            width: 100% / $grid-columns * $i;   
        }           
    }   
} // * mq



// G R I D  H E L P E R S

.mobile-quarter {
    @media (max-width: $max-medium) {
        width: 25%;
        float: left;
    }
    // & + *:not(.mobile-quarter)
    // {
    //     clear: both;
    // }
}

.mobile-third {
    @media (max-width: $max-medium) {
        width: 33.3333%;
        float: left;
    }
    // & + *:not(.mobile-third)
    // {
    //     clear: both;
    // }
}

.mobile-fifty {
    @media (max-width: $max-medium) {
        width: 50%;
        float: left;
    }
    // & + *:not(.mobile-fifty)
    // {
    //     clear: both;
    // }
}

[class*='col-'].is-end {
    @media (min-width: $medium) {
        float: right;
    }
}

[class*='col-'].is-single {
    @media (min-width: $medium) {
        margin: 0 auto;
        float: none;
        clear: both;
    }
}

.clearfix {
    *zoom: 1;
    &:before, 
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}


// * M I X I N S *
// * Apply a clearfix to an element.

@mixin clearfix() {
  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

%clearfix {
    &:before, 
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// * define a row with any size width *
@mixin row($max-width: $container-width, $padded: 0) {
  @include clearfix;
  width: auto;
  max-width: $max-width;
  float: none;
  display: block;
  margin: {
    right: auto;
    left:  auto;
  };
  padding: {
    left:  $padded;
    right: $padded;
  };
}

@mixin col($medium-width: $col-width, $large-width: null) {
    width: 100%;
    min-height: $one;
    padding: $gutter;
    @media (min-width: $medium) {
        float: left;
        width: $medium-width;
    }
    @media (min-width: $large) {
        float: left;
        width: $large-width;
    }
}