// * B A S S   G R I D  *
//inspired from http://webdesign.tutsplus.com/tutorials/a-simple-responsive-grid-made-even-better-with-sass--cms-21540

.row {
	width: 100%;
    margin: 0 auto;
    @extend %clearfix;
    max-width: $container-width;
    &.wide {
        max-width: $container-width * 1.25; // change to suit
    }
    &.narrow {
        max-width: $container-width * .75; // change to suit
    }
}

[class*='columns-'], [class*='col-'] {
    // float: left; // add float back to mobile-first col if experiencing collapsing issues. But, man... it feels nice to just ad float:left when it's necessary
    width: 100%;
    min-height: $one;
    padding: $gutter;
    .switch & {
        float: right;
    }
}

@media (min-width: $medium) {
    @for $i from 1 through $grid-columns {      
        .columns-#{$i}, .col-#{$i}, { 
            float: left;        
            width: 100% / $grid-columns * $i;   
        }           
    }   
} // * mq