// * H E L P E R S *

// * layout *
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.left {
    @media (min-width: $medium) {
        float: left;
        margin-right: $gutter;
    }
}

.right {
    @media (min-width: $medium) {
        float: right;
        margin-left: $gutter;
    }
}

// * text *
.antialiased {
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-tint {
	text-shadow: -1px 1px 0 transparentize($light, $trans);
}

.text-shade {
	text-shadow: -1px 1px 0 transparentize($dark, $trans);
}

// * ornamental *
.panel {
    background-color: $light;
    padding: $gutter;
    text-shadow:-1px 1px 0 rgba(255,255,255,0.3);
    &.is-large {
        margin-left: -$gutter;
        margin-right: -$gutter;
        margin-bottom: $gutter;
    }
    &.is-small {
        padding: $gutter;
    }
    &.is-dark {
        background-color: darken($dark, 10%);
        color: $light;
        text-shadow:none;
    }
}

.padded {
    padding: $gutter;
}

.padded-x {
    padding-left: $gutter;
    padding-right: $gutter;
}

.padded-y {
    padding-top: $gutter;
    padding-bottom: $gutter;
}

.hidden {
    display: none !important;
}

.double-arrow {
    li {
        //padding-left:1rem;
        //position:relative;
        font-size:1rem;
        margin-bottom:0.75rem;
        &:before {
            content: "\00BB \0020";
            color:$accent;
        }
    }
}

// classes for in view animations
.in-view-slideUp {
    visibility: hidden;
}

// * accessibility *
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

// * for breakpoints *
.show-for-small {
    @media (min-width: $medium) {
        display: none !important;
    }
}

.show-for-medium {
    display: none;
    @media (min-width: $medium) and (max-width: $large) {
        display: inherit;
    }
}