// * V A R S *
// * B R E A K P O I N T S *

$one: 0.025em;

$small: 20em; //320px
$medium: 48em; //768px
$large: 70em;
$xlarge: 80em;
// $xxlarge: 78em;

$max-medium: ($medium - $one);
$max-large: ($large - $one);
$max-xlarge: ($xlarge - $one);

$grid-columns: 12;
$container-width: 62.5em !default; //1000px
$gutter: 0.975em !default;
$col-width: 100%;

$img-grid-count: 6;
$card-count: 6;

// * C O L O R S *

$primary: dodgerblue;
$action: indianred;
$accent: gainsboro;

$light: whitesmoke;
$dark: darkslategray;

$muted:lightseagreen;

// * T R A N S P A R E N C Y *

$trans: 0.1;

// * F O N T S *

$header-font: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$cursive: "Mr Dafoe";

$body-color:#222;
$header-color: lighten($body-color, 7%);

// * M I S C *

$trans-speed: 200ms;
$anime: all $trans-speed ease-in-out;
