// * B R E A K P O I N T S *

$one: 0.25em;

$small: 20em; //320px
$medium: 35em;
$large: 48em; //768px
$xlarge: 62em;
$xxlarge: 78em;

$grid-columns: 12;
$container-width: 62.5em !default; //1000px
$gutter: 0.975em !default;

$img-grid-count: 6;

// * C O L O R S *

$primary: dodgerblue;
$action: indianred;
$accent: gainsboro;

$light: whitesmoke;
$dark: darkslategray;

$muted:lightseagreen;

// * T R A N S P A R E N C Y *
$trans: 0.1;

// * F O N T S *
$header-font: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-color:#222;

// * M I S C *
$trans-speed: 200ms;


// * M I X I N S *
// * Apply a clearfix to an element.

@mixin clearfix() {
  *zoom: 1;

  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

%clearfix {
    *zoom: 1;
    &:before, 
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin row($max-width: $container-width, $padded: 0) {
  @include clearfix;
  width: auto;
  max-width: $max-width;
  float: none;
  display: block;
  margin: {
    right: auto;
    left:  auto;
  };
  padding: {
    left:  $padded;
    right: $padded;
  };
}

@mixin column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter) {
  $side: jeet-get-layout-direction();
  $opposite-side: jeet-opposite-direction($side);
  $column-widths: jeet-get-column($ratios, $gutter);
  $margin-last: 0;
  $margin-l: $margin-last;
  $margin-r: nth($column-widths, 2);

  @if $offset != 0 {
    @if $offset < 0 {
      $offset: $offset * -1;
      $offset: nth(jeet-get-column($offset, nth($column-widths, 2)), 1);
      $margin-last: $offset + nth($column-widths, 2) * 2;
      $margin-r: $margin-last;
    } @else {
      $offset: nth(jeet-get-column($offset, nth($column-widths, 2)), 1);
      $margin-l: $offset + nth($column-widths, 2);
    }
  }
}

// * View the grid and its layers for easy debugging.
// * @param {string} [$color=black] - The background tint applied.
// * @param {boolean} [$important=false] - Whether to apply the style as !important.
@mixin edit($color: black, $important: false) {
  @if $important {
    * {
      background: rgba($color, .05) !important;
    }
  } @else {
    * {
      background: rgba($color, .05);
    }
  }
}
